# Logs
logs
*.log

# Dependency directories
node_modules/
__pycache__/

# Environment variables
.env

# Editor directories
.idea
.vscode

# OS specific
.DS_Store

# Build outputs
dist/
build/

# Database
*.db
*.sqlite
